<form [formGroup]="loginForm" class="flex flex-col items-center justify-center w-full">

  <div class="flex gap-4 w-full items-center">
    <mat-icon class="mb-4">person</mat-icon>
    <mat-form-field class="w-full">
      <mat-label>Usuario</mat-label>
      <input type="text" matInput placeholder="Nombre de usuario" formControlName="usuario">
    </mat-form-field>
  </div>
  <div class="flex gap-4 w-full items-center">
    <mat-icon class="mb-4">lock</mat-icon>
    <mat-form-field class="w-full">
      <mat-label>Contraseña</mat-label>
      <input type="password" matInput placeholder="Contraseña" formControlName="contraseña">
    </mat-form-field>
  </div>

  <button (click)="onLogin()" class="w-1/2 mx-auto" mat-button mat-flat-button color="primary">
    <mat-icon>login</mat-icon>
    Ingresar
  </button>
  <div class="flex justify-end mt-5">
    <a class="hover:text-indigo-600 transition-all" routerLink="/auth/register">¿Aun no tienes cuenta? Registrate</a>
  </div>
</form>
